body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    position: relative;
    top: -40px;
    left: 0px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
}
.container #cityList {
    position: relative;
    margin-top: 20px;
    flex-direction: row;
    background-color: red;
}

.container #cityList button {
    margin: 5px;
    flex-direction: row;
}

#Aisen{
    position: relative;
    top:80px;
    left: -377px
}

#Antofagasta{
    position: relative;
    top: 102px;
    left: -411px
}

#Arica{
    position: relative;
    top: 122px;
    left: -444px
}

#Atacama{
    position: relative;
    top: 142px;
    left: -478px
}

#Biobio{
    position: relative;
    top: 163px;
    left: -511px
}

#Coquimbo{
    position: relative;
    top: 183px;
    left: -544px
}

#Araucania{
    position: relative;
    top: 204px;
    left: -577px
}

#OHiggins{
    position: relative;
    top: 224px;
    left: -611px
}

#lagos{
    position: relative;
    top: 246px;
    left: -644px
}

#rios{
    position: relative;
    top: 267px;
    left: -677px;
}

#Magallanes{
    position: relative;
    top: 287px;
    left: -710px;
}

#Maule{
    position: relative;
    top: 307px;
    left: -743px;
}
#metropo{
    position: relative;
    top: 327px;
    left: -776px;
}

#Tarapaca{
    position: relative;
    top: 347px;
    left: -810px;
}

#Valparaiso{
    position: relative;
    top: 369px;
    left: -843px
}

.container img {
    width: 30px;
    height: auto;
    border: 2px solid #555;
    border-radius: 2px;
    z-index: 2;
}

.figura {
    text-align: center;
    position: relative;
    top: -80px;
    left: -220px;
}

.box {
    width: 40px;
    height: 20px;
    border: 2px dashed #000000;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 60px;
}

h2 {
    color: #000000;
    margin: 9px;
    position: relative;
    top: -33px;
    left: -70px;
}

