
h1#contentTitle {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
    margin-top: 95px;
}
img#mapaRegiones{
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 400px; 
    height: auto;
    margin-top: 180px;
}