a {
    text-decoration: none;
}
#projectShakeButton {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: gray;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    padding: 15px 32px;
}

#rightButtons {
    position: absolute;
    top: 0;
    right: 0;
}

#rightButtons .rightButton {
    color: white;
    font-family: Arial, sans-serif;
    padding: 15px 32px;
}

#rightButtons .secondButton {
    border-radius: 12px;
    padding: 15px 32px;
}

#ingresaButton, #registrateButton, #sobreNosotrosButton {
    background-color: black;
    border-radius: 12px;
}

a[href="logout"] .secondButton {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: gray;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    padding: 15px 32px;
}

h1#contentTitle {
    text-align: center;
    color: black;
    font-family: Arial, sans-serif;
    margin-top: 95px;
}
img#mapaRegiones{
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 400px; 
    height: auto;
    margin-top: 180px;
}