body {
    background-image: url('https://wallpaperaccess.com/full/4462773.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#projectShakeButton {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: gray;
    border-radius: 12px;
    font-family: Arial, sans-serif;
}

#rightButtons {
    position: absolute;
    top: 0;
    right: 0;
}

#rightButtons .rightButton {
    color: white;
    font-family: Arial, sans-serif;
}

#rightButtons .secondButton {
    background-color: gray;
    border-radius: 12px;
}

#rightButtons .rightButton[style="background-color:#00000000;"] {
    background-color: transparent;
}

a[href="logout"] .secondButton {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: gray;
    border-radius: 12px;
    font-family: Arial, sans-serif;
}

h1#contentTitle {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

div#contentBlock {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

button#experienceButton {
    background-color: lime;
    border-radius: 12px;
    color: white;
    font-family: Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    font-family: Arial, sans-serif;
}

div#kiwihaters {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-family: Arial, sans-serif;
}