body {
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
    height: 158vh;
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);

}
a{
    text-decoration: none;
}
#projectShakeButton{
    position: absolute;
    top: 3px;
    left: 5px;
    border: 0;
    background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
#projectShakeButton span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;

}
#projectShakeButton:hover span{
    background: none;

}
#projectShakeButton:active{
    transform: scale(0.9);

}
#logoutButton{
    position: absolute;
    top: 3px;
    right: 195px;
    border: 0;
    background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
#logoutButton span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;

}
#logoutButton:hover span{
    background: none;

}
#logoutButton:active{
    transform: scale(0.9);

}
#ingresaButton{
    position: absolute;
    top: 3px;
    right: 340px;
    border: 0;
    background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
#ingresaButton span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;

}
#ingresaButton:hover span{
    background: none;

}
#ingresaButton:active{
    transform: scale(0.9);

}
#registrateButton{
    position: absolute;
    top: 3px;
    right: 193px;
    border: 0;
    background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
#registrateButton span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;

}
#registrateButton:hover span{
    background: none;

}
#registrateButton:active{
    transform: scale(0.9);

}
#sobreNosotrosButton{
    position: absolute;
    top: 3px;
    right: 5px;
    border: 0;
    background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}
#sobreNosotrosButton span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;

}
#sobreNosotrosButton:hover span{
    background: none;

}
#sobreNosotrosButton:active{
    transform: scale(0.9);

}
#contentTitle{
    text-align: center;
    color: white;
    text-shadow: 3px 0px black, 2px 2px blue, -2px 2px blueviolet;
    font-family: Arial, sans-serif;
    margin-top: 160px;
    font-size: xx-large;
}
#contentBlock{
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 3px 0px black, 2px 2px blue, -2px 2px blueviolet;
    font-family: Arial, sans-serif;
    font-size:larger;
    margin-right: 15px;
    margin-right: 15px;
}

#experienceButton{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    left: 550px;
}
#experienceButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red,blue,deeppink,blue,red,blue,deeppink,blue);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.card{
    position: relative;
    width: 500px;
    height: 550px;
    margin: 20px;
    margin-left: 150px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #f3f3f3;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
#footer{
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.card2{
    position:absolute;
    right: 0;
    top: 657px;
    width: 500px;
    height: 550px;
    margin: 20px;
    margin-right: 150px;
}
.card2 .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card2 .front2{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}
.card2 .front2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card2 .front2 h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}
.card2 .back2{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card2 .back2 .link2{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card2 .back2 .link2 a{
    color: #f3f3f3;
}
.card2 .back2 h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card2 .back2 p{
    letter-spacing: 1px;
}
.card2:hover .front2{
    transform: perspective(600px) rotateY(180deg);
}
.card2:hover .back2{
    transform: perspective(600px) rotateY(360deg);
}
#kiwihaters {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-family: Arial, sans-serif;
}