<!--{% load static %} --> 
<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" href="{% static 'css/Home.css' %}">-->
    <link rel="stylesheet" type="text/css" href="Home.css'">
</head>
<body>
    <div class="button-container">
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/Logout/">
            <button class="secondButton">
                <span>Logout</span>
            </button></a>
        {% else %}
            <a href="http://127.0.0.1:8000/register/">
            <button>
              <span>Register</span>
            </button></a>
            <a href="http://127.0.0.1:8000/login/">
              <button class="secondButton">
                  <span>Login</span>
              </button></a>
        {% endif %}
          <a href="http://127.0.0.1:8000/about-us/">
            <button>
              <span>About Us</span>
            </button></a>
          <a href="http://127.0.0.1:8000/project-shake-corazon/">
            <button class="secondButton">
              <span>PRUEBE LA EXPERIENCIA</span>
            </button></a>
        </div>

{% block content %}

<h1>De que trata Project Shake?</h1>
<p>
Esta página busca entregar información acerca de la zona que tú quieras en chile, como la cantidad de información que entrega la API, esto mediante una forma inteactiva de elegir la zona en concreto que deseas conocer
</p>
<h1>¿Cómo obtenemos la información?</h1>
<p>
Funciona utilizando la API (Tomorrow.io), la cuál nos entrega la información que usted solicita y nosotros la adecuamos para mejorar la comprensión de la información.
</p>
<h1>Cómo solicito la información?</h1>
<!--modificar esto y que sea acorde con la idea corazon que tengo en mente y con los cambios de Martin-->
<p>
1-Acceda a la licuadora, utilizando el botón "PRUEBE LA EXPERIENCIA".
<br>
2-Una vez en la página, busque la zona que desee buscar en el mapa de la izquierda y arrastre el punto adentro de la licuadora
<br>
3-Presione el botón "Mezcla" y ¡¡LISTO!!, tan solo debe esperar un momento a qué se solicite y se le entregue la información correspondiente.
</p>

{% endblock %}

</body>

</html>