{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Calidad del aire</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
    <link rel="stylesheet" href="{% static 'css/idea.css' %}">
    <link rel="stylesheet" href="{% static 'css/arrastre2.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="figura">
            <div class="box" id="0"></div>
        </div>
    </div>
    <a href="http://127.0.0.1:8000/"><button id="projectShakeButton"><span> PROJECT SHAKE</span></button></a>
    <div id="botones">
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/logout/">
                <button id="logoutButton">
                    <span>Logout</span>
                </button>
            </a>
        {% else %}
            <a href="http://127.0.0.1:8000/login/" ><button  id="ingresaButton"><span>Ingresa</span></button></a>
            <a href="http://127.0.0.1:8000/register/" ><button  id="registrateButton"><span>Regístrate</span></button></a>
        {% endif %}
        <a href="http://127.0.0.1:8000/about-us/" ><button  id="sobreNosotrosButton"><span>Sobre Nosotros</span></button></a>
    </div>
    <h1 id="contentTitle" style="color: white;">¿Cómo está la calidad del aire?</h1>
    <img src="{% static 'img/Final.png' %}" alt="Mapa con las regiones de Chile" id="mapaRegiones">
    <div class="container"> 
        <img src="{% static 'img/image/Morado.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Aisen">
        <img src="{% static 'img/image/Verde.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Antofagasta">
        <img src="{% static 'img/image/Naranja.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Arica">
        <img src="{% static 'img/image/Celeste.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Atacama">
        <img src="{% static 'img/image/Verde_oscuro.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Biobio">
        <img src="{% static 'img/image/Burdeo.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Coquimbo">
        <img src="{% static 'img/image/Rosa.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Araucania">
        <img src="{% static 'img/image/Amarillo.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="OHiggins">
        <img src="{% static 'img/image/Gris.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="lagos">
        <img src="{% static 'img/image/Rosa2.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="rios">
        <img src="{% static 'img/image/Magalla.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Magallanes">
        <img src="{% static 'img/image/Piel.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Maule">
        <img src="{% static 'img/image/Rojo.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="metropo">
        <img src="{% static 'img/image/Verde2.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Tarapaca">
        <img src="{% static 'img/image/Algo.png' %}" alt="" draggable="true" ondragstart="drag(event)" id="Valparaiso">
    </div>
    <div class="container" id="cityList" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="box" id="0"></div>
        <h2 style="text-align: center;">Comunas</h2>
    </div>
    <ul id="lista"></ul>
    <div class="cuadrado" id="uno"></div>
    <h3 id="resultado"></h3>
    <div class="cuadrado" id="dos"></div>
    <a href="http://127.0.0.1:8000/project-shake-corazon/"><button id="again"><span style="color: rgb(185, 184, 184);">Repetir</span></button></a>
    <script src="{% static 'java/arrastre.js' %}"></script>
</body>
</html>