{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/idea.css' %}">
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button id="projectShakeButton"><span>PROJECT SHAKE</span></button></a>
    <div id="botones">
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/logout/">
                <button id="logoutButton">
                    <span>Logout</span>
                </button>
            </a>
        {% else %}
            <a href="http://127.0.0.1:8000/login/" ><button  id="ingresaButton"><span>Ingresa</span></button></a>
            <a href="http://127.0.0.1:8000/register/" ><button  id="registrateButton"><span>Regístrate</span></button></a>
        {% endif %}
        <a href="http://127.0.0.1:8000/about-us/" ><button  id="sobreNosotrosButton"><span>Sobre Nosotros</span></button></a>
    </div>
    <h1 id="contentTitle">¿Cómo está la calidad del aire?</h1>
    <img src="https://th.bing.com/th/id/OIP.G3iWunofLT1K-nAEI4DyfAAAAA?pid=ImgDet&rs=1" alt="Mapa con las regiones de Chile" id="mapaRegiones">