{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Inicio de sesión </title>
    <link rel="stylesheet" href="{% static 'css/loginFinal.css' %}">
    <title>Project Shake</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div>
        <a href="http://127.0.0.1:8000"><button id="projectShakeButton"><span>AIR MAP</span></button></a>
        <a href="http://127.0.0.1:8000/about-us/" ><button  id="sobreNosotrosButton"><span>Sobre Nosotros</span></button></a>
    </div>
    <main class="container">
        <div class="col-md-4 offset-md-8 text-center mt-5">
            <form action="/login/" method="POST">
                <div class="mb-2">
                    <h1>Inicia sesión en AIR MAP</h1>
                </div>
                <div class="error-message">{{error|safe}}</div>
                {% csrf_token %}
                <div class="mb-4">
                    <input type="text" name="username" class="form-control" placeholder="Usuario">
                </div>
                <div class="mb-4">
                    <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                            <i class="fas fa-eye" id="eye-icon"></i> <!-- Icono para Mostrar -->
                        </button>
                    </div>
                </div>
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
        <p id="mensaje">¿No tienes una cuenta?<a href="http://127.0.0.1:8000/register/"><button  id="registro"><span>Regístrate</span></button></a></p>
    </main>

    <script>
        function togglePassword() {
            var passwordInput = document.getElementById("password");
            var eyeIcon = document.getElementById('eye-icon');

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove('fa-eye');
                eyeIcon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove('fa-eye-slash');
                eyeIcon.classList.add('fa-eye');
            }
        }
    </script>
</body>
</html>
