{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Home </title>
    <link rel="stylesheet" href="{% static 'css/homeFinal.css' %}">
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button id="projectShakeButton"><span>AIR MAP</span></button></a>
    <div id="botones">
        {% if user.is_authenticated %}
            <a href="logout">
                <button id="logoutButton">
                    <span>Logout</span>
                </button>
            </a>s
        {% else %}
            <a href="login" ><button  id="ingresaButton"><span>Ingresa</span></button></a>
            <a href="register" ><button  id="registrateButton"><span>Regístrate</span></button></a>
        {% endif %}
        <a href="about-us" ><button  id="sobreNosotrosButton"><span>Sobre Nosotros</span></button></a>
    </div>    
    <h1 id="contentTitle">Cómo solicito la información?</h1>
    <br>
    <div id="contentBlock">
    <p> 
    1.- Acceda a la información, utilizando el botón "PRUEBE LA EXPERIENCIA".
    <br>
    <br>
    2.- Una vez en la página, busque en el mapa la región de Chile de la cual desea obtener información y arrastre el punto adentro del buscador de comunas.
    <br>
    <br>
    3.- seleccione la(s) comuna(s) de su interes.
    <br>
    <br>
    4.- Presione el botón "GENERAR" y ¡¡LISTO!!, tan solo debe esperar un momento para que se genere toda la información relevante sobre el clima de la comuna que desea.
    </p>
    <br>
    <br>
    <br>
    <br>
    </div>
    <a href="project-shake-corazon/" ><button id="experienceButton">Pruebe la experiencia ahora</button></a>
    <br>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="face front">
            <img src="{% static 'img/aire.jpg' %}" alt="">
            <h3>¿En qué nos afecta la calidad del aire?</h3>
        </div>
        <div class="face back">
            <p>
                La calidad del aire tiene un impacto significativo en la salud humana, causando enfermedades respiratorias y cardiovasculares.
                <h3>CAUSAS: </h3>
                Los contaminantes atmosféricos pueden penetrar en nuestro sistema respiratorio y circulatorio, dañando nuestros pulmones, corazón y cerebro. 
                <br>
                La contaminación del aire interior, causada por cocinas con fugas que utilizan queroseno, biomasa o carbón, también es una preocupación, ya que puede resultar en la muerte prematura de millones de personas cada año.
                <h3>SOLUCIÓN:</h3>
                Para mejorar la calidad del aire, se requieren medidas a nivel individual, comunitario y gubernamental. 
                <br>
                Las políticas ambientales pueden ayudar a reducir la contaminación atmosférica sin dejar de lado los bosques y la vegetación que son vitales para la absorción de CO2 y la mejora de la calidad del aire. Reducir nuestras emisiones nocivas a través de tecnologías limpias y energías renovables, además de ventilar la casa y mantener una calidad de aire buena es fundamental.
            </p>
            <div class="link">
                <a href="#" class="" id="">
                    Cada paso ayuda en la construcción de un planeta más saludable.
                </a>
            </div>
        </div>
    </div>
    <div class="card2">
        <div class="face front2">
            <img src="{% static 'img/nose2.jpg' %}" alt="">
            <h3>Proyecto por Kiwihaters</h3>
        </div>
        <div class="face back2">
            <p>
                <h3>¿De qué trata AIR MAP?</h3>
                Esta página busca entregar información acerca de la calidad del aire en la zona que tú quieras de Chile, esto se hace mediante una forma interactiva para elegir la zona en concreto que deseas conocer.
                <br>
                <br>
                <br>
                <h3>¿Cómo obtenemos la información?</h3>
                Funciona utilizando la API (Tomorrow.io), la cuál nos entrega la información que usted solicita y nosotros la adecuamos para mejorar la comprensión de la información.
                <br>
                <br>
            </p>
            <div class="link2">
                <a href="#" class="" id="">
                    Proyecto por Kiwihaters
                </a>
            </div>
        </div>
    </div>
    <div id="relevante">
        <p>
            Si deseas acceder a información más completa, que no se limite únicamente a la calidad del aire, te invitamos a hacer clic en el siguiente botón.
        </p>
    </div>
    <div id="otro">
        <a href="http://127.0.0.1:8000/test/">
            <button id="otroBoton">
                <span>Más información</span>
            </button>
        </a>
    </div>

    <div class="wrap" style="margin-left: 160px;">
        <div class="widget">
            <div class="fecha">
                <p id="diaSemana" class="diaSemana"></p>
                <p id="dia" class="dia"></p>
                <p>de</p>
                <p id="mes" class="mes"></p>
                <p>del</p>
                <p id="year" class="year"></p>
            </div>
        </div>
    </div>

    <div class="reloj" style="margin-left: 163px;">
        <p id="horas" class="horas"></p>
        <p>:</p>
        <p id="minutos" class="minutos"></p>
        <p>:</p>
        <div class="caja-segundos">
            <p id="ampm" class="ampm"></p>
            <p id="segundos" class="segundos"></p>
        </div>
    </div>
    
    <script src="{% static 'java/reloj.js' %}"></script>
    
    <img src="{% static 'img/ImagenTexto.png' %}" height="375px" width="475px" style="margin-left: 800px; margin-top: -380px;  border-radius: 12px; ">
</body>
</html>