{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Test </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectShake</title>
    <link rel="stylesheet" href="{% static 'css/rank.css' %}">
</head>
<body>
    <a href="http://127.0.0.1:8000/"><button id="projectShakeButton"><span>PROJECT SHAKE</span></button></a>
    <div id="botones">
        {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/logout/">
                <button id="logoutButton">
                    <span>Logout</span>
                </button>
            </a>
        {% else %}
            <a href="http://127.0.0.1:8000/login/" ><button  id="ingresaButton"><span>Ingresa</span></button></a>
            <a href="http://127.0.0.1:8000/register/" ><button  id="registrateButton"><span>Regístrate</span></button></a>
        {% endif %}
        <a href="http://127.0.0.1:8000/about-us/" ><button  id="sobreNosotrosButton"><span>Sobre Nosotros</span></button></a>
    </div>
    <h1 id="contentTitle">
        Zonas Geográficas de Chile
    </h1>
    <div id="header">
        <ul class="nav">
            <li><a href="#">Zona Norte</a>
                <ul>
                    <li><a href="#">Arica y Parinacota</a>
                        <ul>
                            <li><a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Arica"
                                        name="ciudad">
                                </form>
                            </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Tarapacá</a>
                        <ul>
                            <li><a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Alto Hospicio"
                                        name="ciudad">
                                </form>
                            </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Atacama</a>
                        <ul>
                            <li><a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Huasco"
                                        name="ciudad">
                                </form>
                            </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Antofagasta</a>
                        <ul>
                            <li><a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Calama"
                                        name="ciudad">
                                </form>
                            </a></li>
                            <li><a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Tocopilla"
                                        name="ciudad">
                                </form>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Zona Norte Chico</a>
                <ul>
                    <li><a href="#">Valparaíso</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Concón"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="La Ligua"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Llay-Llay"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Puchuncaví"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Quillota"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Quilpué"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Quintero"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="San Antonio"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="San Felipe"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Valparaíso"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Villa Alemana"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Viña del Mar"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Coquimbo</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Coquimbo"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="La Serena"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#"> Zona Central</a>
                <ul>
                    <li><a href="#">O'Higgins</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Rancagua"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="San Fernando"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Rengo"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Metropolitana</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Curacaví"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Las Condes"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Peñaflor"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Puente Alto"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Santiago"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Maule</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Cauquenes"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Curicó"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Maule"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Talca"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Zona Sur</a>
                <ul>
                    <li><a href="#">Biobío</a>
                        <ul>
                            <!--<a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Curanilahue*"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Chillán*"
                                        name="ciudad">
                                </form>
                            </a>-->
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Hualpén"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Concepción"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Coronel"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Laja"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Los Ángeles"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Nacimiento"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="San Carlos"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Talcahuano"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Los Ríos</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="La Unión"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Valdivia"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Araucanía</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Angol"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Pitrufquén"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Temuco"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Traiguén"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Victoria"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Zona Austral</a>
                <ul>
                    <li><a href="#">Aysén</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Coyhaique"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Puerto Aysén"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Magallanes</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Punta Arenas"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                    <li><a href="#">Los Lagos</a>
                        <ul>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Osorno"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Puerto Montt"
                                        name="ciudad">
                                </form>
                            </a>
                            <a href="#">
                                <form class="d-flex justify-content-center" action="test" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-primary" type="submit" value="Puerto Varas"
                                        name="ciudad">
                                </form>
                            </a>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>










